// TYPOGRAPHY

// font-family: 'Nanum Pen Script', cursive;
// font-family: 'Open Sans', sans-serif;

// COLORS

$primary: white;
$secondary: rgba(0, 0, 0, 0);
$accent: #27ec4d;
$specialFont: "Nanum Pen Script", cursive;

html {
  font-family: $specialFont;
}

h1,
h2 {
  text-transform: uppercase;
  color: $accent;
  margin-bottom: 5vh;
  text-align: center;

  span {
    display: block;
  }
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 20rem;
}

p, input[type="username"],
input[type="text"], input[type="number"] {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

P {
  font-size: 1.8rem;
}

input[type="submit"] {
  font-size: 2rem;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
