html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}

main {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.kanyeButton {
  width: 100px;
  height: 100px;
  background-color: red;
}

.welcome {
    text-align: center;
    // border: 5px solid white;
    border-radius: 20px;
    // background-color: rgba(0, 0, 0, 0.1);
    padding: 5% 0;
}

.textBoxes {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
}

input[type="username"], input[type="text"] {
    color: white;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    width: 48%;
    margin-top: 10vh;
}

input[type="submit"] {
    margin-top: 10vh;
    background: $secondary;
    padding: 2% 7%;
    border: 1px solid $primary;
    color: white;
    text-transform: uppercase;
}

.placeholderText::placeholder {
    opacity:1;
    text-align: center;
}


