// GENERAL

.removeSection {
  position: absolute;
  top: -3000px;
}

.displayOverflowHeader {
  overflow: hidden;
}

.displayOverflowWelcome {
  overflow: hidden;
}

header,
.welcome,
.dashboard {
  height: 100vh;
  padding: 5vh 0;
  // overflow: hidden;
}

// WELCOME

.welcome {
  text-align: center;
  p {
    margin-bottom: 10vh;
  }
}

fieldset {
  width: 100%;
  max-width: 900px;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.radioBox {
  width: 25%;
  // border: 1px solid red;
}

.fas {
  font-size: 5rem;
}

[type="radio"] {
  opacity: 0;
  position: absolute;
}

[type="radio"]:checked + .toggleLabel {
  color: $accent;
}

i:hover {
  -webkit-animation: heartBeat 1.5s;
  animation: heartBeat 1.5s;
}

.textBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="username"],
input[type="text"],
.numberBox {
  margin-top: 10vh;
}

input[type="username"],
input[type="text"],
input[type="number"] {
  color: white;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid white;
  padding: 5px 0;
  width: 35%;
  min-width: 300px;
  text-align: center;
}

.numberBox {
  border: 2px solid rgba(0, 0, 0, 0);
}

.badInput {
  border: 2px solid red;

  &:hover {
    border: 2px solid red;
  }
}

input[type="username"],
input[type="text"] {
  &:hover {
    border-bottom: 2px solid $accent;
  }
}

input[type="number"] {
  &:hover,
  &:focus {
    border-bottom: 2px solid $accent;
  }
}

.submitBox {
  position: relative;
}

input[type="submit"] {
  background: $secondary;
  padding: 12px 20px 8px 20px;
  margin-top: 10vh;
  border: none;
  font-family: $specialFont;
  color: $accent;
  border-radius: 15px;
  &:hover, 
  &:focus, 
  &:active {
    color: $primary;
  }
}

.placeholderText::placeholder {
  opacity: 0.7;
  text-align: center;
  &:hover,
  &:focus {
    color: $accent;
  }
}

// MAIN PAGE

.clock {
  border: none;
  margin: 0;
}

.dashboardSub {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quotes {
  display: flex;
  flex-direction: row-reverse;
}

.kanyeContainer {
  flex: 1 0 120px;
}

.kanyeButton {
  width: 120px;
}

.quoteContainer {
  padding-left: 30px;
  flex: 1 0 calc(100% - 120px);
  text-align: left;
  p {
    display: inline-block;
    padding: 20px;
    font-size: 2rem;
    border: 2px solid $accent;
    border-radius: 15px;
    position: relative;
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid $accent;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      bottom: 20%;
      left: -21px;
    }
  }
}


img {
  display: block;
  width: 100%;

  transform: rotate(6deg);

  filter: drop-shadow(2px 2px 0 $accent) drop-shadow(2px -2px 0 $accent)
    drop-shadow(-2px -2px 0 $accent) drop-shadow(-2px 2px 0 $accent);
}

.lowerDash {
  display: flex;
  justify-content: space-between;
}

.trophy,
.money,
.reset {
  width: 32%;
  border: 2px solid $accent;
  border-radius: 15px;
}

.money {
  p {
    color: $accent;
  }
}

.lowerReset {
  display: flex;
  // flex-direction: column;
  padding: 4% 8% 6% 8%;
}

Button.speedButton,
input[type="reset"] {
  border: 2px solid $accent;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: $accent;
  padding: 3%;
  // margin-top: 10%;

  span {
    display: block;
  }

  &:hover, &:focus, &:active {
    background-color: $accent;
    color: black;
  }
}

button.speedButton {
  margin-right: 4%;
  width: 46%;
  line-height: 1.3;

  &:hover {
    cursor: pointer;
  }
}

button.highSpeed {
    background-color: $accent;
    color: black;
}

input[type="reset"] {
  margin-left: 4%;
  width: 46%;
}

.lowerTrophy {
  padding: 3%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-evenly;

  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

}

.fa-trophy {
  font-size: 5rem;
  color: $accent;
  margin: 5px;
}


