@media screen and (max-width: 760px) {

    body {
        font-size: 1.8rem;
    }

    h1,
    h2, 
    h3 {
        font-size: 6rem; 
        span {
            display: inline;
        }
    }

    h2, 
    h3 {
        margin: 2vh; 
        font-size: 3rem;
    }

    #timer {
    font-size: 7rem; 
    }

    input[type="submit"], 
    .trophy, 
    .money, 
    .reset  {
        width: 100%;
    }

    input[type="submit"] {
        font-size: 4rem; 
        margin: 10vh 0;
    }

    .placeholderText::placeholder {
        opacity: 0.7;
    }

    .introQuote {
        margin: 2vh; 
        font-size: 3rem;
    }

    .dashboardSub {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // QUOTES SECTION /////////////////

    .quotes {
        display: flex;
        justify-content: flex-end;
    }

    .quoteContainer {
        p {
            font-size: 2rem;
            line-height: 2rem;
            &::before {
                bottom: 50%;
            }
        }
    }

    // BELOW CLOCK /////////////////

    .lowerDash {
        flex-direction: column;
    }

    .trophy, 
    .money, 
    .reset {
        margin: 2vh 0; 
        h3, 
        h4, 
        p {
            font-size: 4rem; 
        }
    }

}