@media screen and (max-width: 760px) {
  body {
    font-size: 1.8rem;
    height: auto;
  }

  header,
  .welcome,
  .dashboard {
    padding: 5vh 0 0 0;
  }

  h1,
  h2,
  h3 {
    font-size: 6rem;
    span {
      display: inline;
    }
  }

  .fas {
    font-size: 4rem;
  }

  h2.timer {
    font-size: 10rem;
    margin: 5vh 0;
    padding: 0;
  }

  input[type="submit"],
  .trophy,
  .money,
  .reset {
    width: 100%;
  }

  input[type="submit"] {
    font-size: 4rem;
  }

  .placeholderText::placeholder {
    opacity: 0.7;
  }

  .dashboard {
    height: auto;
  }

  .dashboardSub {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // QUOTES SECTION /////////////////

  .quotes {
    display: flex;
    justify-content: flex-end;
  }

  .quoteContainer {
    p {
      font-size: 1.8rem;
      line-height: 1.1;
      &::before {
        top: 25%;
      }
    }
  }

  // CLOCK /////////////////

  .clock p {
    font-size: 3rem;
    line-height: 2.5rem;
    padding-bottom: 5vh;
  }

  // BELOW CLOCK /////////////////

  .lowerDash {
    flex-direction: column;
  }

  .trophy,
  .money,
  .reset {
    margin: 2vh 0;
    h3,
    h4 {
      font-size: 2.5rem;
    }
    p {
      padding-bottom: 0;
    }
  }

  .trophy .lowerTrophy {
    padding-bottom: 3vh;
  }

  .lowerMoney p {
    padding-bottom: 0;
  }

  .lowerReset {
    padding: 2% 5% 5% 5%;
  }

  .speedButton,
  input[type="reset"] {
    width: calc(50% - 2.5%);
  }

  .speedButton {
    margin-right: 2.5%;
  }

  input[type="reset"] {
    margin-left: 2.5%;
  }

  @media screen and (max-width: 460px) {
    
    h1 {
        font-size: 5rem;
    }
    
    h2.timer {
      font-size: 6.5rem;
    }

    .trophy,
    .money,
    .reset {
      h3 {
        font-size: 2.2rem;
      }
    }

    h4 {
        font-size: 4rem;
    }

    .kanyeButton {
      width: 112px;
    }

    .quoteContainer {
      padding-left: 14px;
    }
  }
}
